/* Reset and Base Styles */
:root {
  --bg-primary: #232222;
  --bg-secondary: #232222;
  --bg-tertiary: #334155;
  --text-primary: #b01c06;
  --text-secondary: #94a3b8;
  --accent-color: #b01c06;
  --accent-hover: #8680ed;
  --border-color: #8c4f4a;
  --input-bg: #0e121a;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, var(--bg-primary), var(--bg-secondary));
  color: var(--text-primary);
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;

  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
